@model BangazonWorkforce.Models.Computer

@{
    ViewData["Title"] = "NoDelete";
}

<h2>Can't delete assigned computer</h2>

<h4>You can't delete an assigned computer.</h4>

<a asp-action="Index">Back to List</a>
